.navbar li {
    padding: 0 20px;
}

.navbar ul li a:hover {
    color: #000;
}

a {
    color: black;
    text-decoration: none;
    font-size: 24px;
}


ul {
    list-style: none;
}

.logo {
    width: 80px;

}

@media (max-width: 700px) {
    h1 {
        font-size: 3rem;
    }

    .navbar .container {
        margin: 10px auto;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .navbar .container {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        align-items: center;
        justify-content: center;
    }}

.navbar .btn {
    text-transform: uppercase;
    font-weight: bold;
    background: var(--button);
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}

.navbar .btn:hover {
    background-color: var(--button-hover);
}
.navbar ul {
    justify-self: flex-start;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 250px;
}

.logo {
    position: relative;
    right: 200px;
}

